{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock%}

{% block body %}
<div>
 <h1>Добавление товара:</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите название товара:"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите стоимость товара:"><br>
        <textarea type="text" class="form-control" name="text" id="text" placeholder="Введите описание товара:"></textarea><br>
        <button type="submit" class="btn btn-primary">Добавить</button>

    </form>

</div>
{% endblock%}
